.flowchart-container .card {
    border: 1px solid rgba(0,0,0,.125) !important;
    border-radius: 0;
}

.flowchart-container .card-header {
    padding: 0;
    border: 0;
    margin-bottom: 2px;
    background-color: white;
    white-space: normal;
}

.flowchart-container .btn-primary,
.flowchart-container .btn-warning {
    white-space: normal;
    text-align: left;
    border-radius: 0;
    box-shadow: none;
}

.flowchart-container .btn-warning {
    cursor: text !important;
    -webkit-user-select: all;  /* Chrome 49+ */
    -moz-user-select: all;     /* Firefox 43+ */
    -ms-user-select: all;      /* No support yet */
    user-select: all;          /* Likely future */  
}

.flowchart-container .btn-warning:link,
.flowchart-container .btn-warning:visited,
.flowchart-container .btn-warning:focus,
.flowchart-container .btn-warning:hover,
.flowchart-container .btn-warning:active,
.flowchart-container .btn-warning:active:hover,
.flowchart-container .btn-warning:active:focus {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
    box-shadow: none !important;
    outline: none !important;
}