.flowchart-container .card {
    border: 1px solid rgba(0,0,0,.125) !important;
    border-radius: 0;
}

.flowchart-container .card-header {
    padding: 0;
    border: 0;
    margin-bottom: 2px;
    background-color: white;
    white-space: normal;
}

.flowchart-container .btn-primary,
.flowchart-container .btn-warning {
    white-space: normal;
    text-align: left;
    border-radius: 0;
    box-shadow: none;
}

.flowchart-container .btn-warning {
    cursor: text !important;
    -webkit-user-select: all;  /* Chrome 49+ */
    -moz-user-select: all;     /* Firefox 43+ */
    -ms-user-select: all;      /* No support yet */
    user-select: all;          /* Likely future */  
}

.flowchart-container .btn-warning:link,
.flowchart-container .btn-warning:visited,
.flowchart-container .btn-warning:focus,
.flowchart-container .btn-warning:hover,
.flowchart-container .btn-warning:active,
.flowchart-container .btn-warning:active:hover,
.flowchart-container .btn-warning:active:focus {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
    box-shadow: none !important;
    outline: none !important;
}

.flowchart-container button.btn-choose {
    border: 2px solid transparent;
}

.flowchart-container button.btn-choose.btn-primary:focus {
  background-color: #39f;
  border: 2px solid rgba(51, 153, 255, 1) !important;
  box-shadow: 0 0 3px 1px rgba(51, 153, 255, 1) !important;
}

@media print {
    .flowchart-container button.btn-choose {
        border: 4px solid #007bff;
        background-color: transparent;
        color: #007bff;
        box-shadow: none !important;
    }
    .flowchart-container button.btn-choose.btn-warning {
        border: 4px solid #ffc107 !important;
        background-color: transparent !important;
        color: #000 !important;
    }
}