@import url('https://fonts.googleapis.com/css?family=Lato:400,900');

body {
    background-color: #eee;
    color: #000;
}

#skippy {
    display: block;
    padding: 1em;
    background-color: #fff;
    outline: 0;
}

#skippy .skiplink-text {
    padding: .5em;
    outline: 1px dotted;
}

/* Header ------------------------------------------- */

header .title {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 1.25rem;
    color: #36c;
}

.module-name {
    background-color: #b0d7ff;
    color: #000;
    font-size: 1rem;
    line-height: 120%;
}

.module-name a {
    color: #000;
}


/* Sidebar navigation --------------------------------- */

.nav-module {
    font-size: 0.875rem;
    border-right: none;
    border-bottom: 1px solid #ccc;
}

.nav-module .navbar-toggler {
    font-size: 1rem;
    color: #666;
}

.nav-module .navbar-toggler:focus {
    outline: 1px dotted;
}

.nav-module .nav-link {
    display: inline-block;
}

.nav-module li.active {
    background-color: #e4f1fd;
}

.nav-module li.active .nav-link {
    color: #003366;
}


/* Main content ------------------------------------- */

main h1 {
    font-weight: normal;
    font-size: 1.625rem;
}

h2 {
    padding: 0;
    margin: 2rem 0 0.5rem 0;
    border: 0;
    font-size: 1.25rem;
}

.video-player iframe {
    border: 1px solid #ddd;
    width: 100%;
    max-width: 560px;
    max-height: 315px;
}

.pageblock {
    padding: 0;
    margin: 0;
    border: 0;
}

figure.img-fluid img {
    max-width: 100%;
    height: auto;
}

/* Quizzes ------------------------------------------ */

.toggleable {
    display: none;
	padding: 0.625rem;
    background-color: #fffefa;
    -webkit-border-radius: 0.4rem;
     -moz-border-radius: 0.4rem;
    border-radius: 0.4rem;
    border: 1px solid #e0e0e0;
}

.answer-container {
    display: none;
	padding: 0.625rem;
    background-color: #fffefa;
    -webkit-border-radius: 0.4rem;
     -moz-border-radius: 0.4rem;
    border-radius: 0.4rem;
    border: 1px solid #e0e0e0;
}

.cases
{
	margin: 0 0 1.25rem 0;
	padding: 0.625rem;
	border: 1px solid #ffcc99;
	background-color: #fcf8e3;
    -webkit-border-radius: 0.4rem;
     -moz-border-radius: 0.4rem;
    border-radius: 0.4rem;
}

.casetitle
{
    font-weight: bold;
    color: #cc6633;
    font-style: italic;
    margin-bottom: 0.4rem;
}

.casequestion
{
	margin: 0 0 1.25rem 0;
	padding: 0;
	border: 0;
    font-size: 1.25rem;
    line-height: 120%;
}

.answer-value
{
	margin: 0 0 0.875rem 0;
	padding: 0;
	border: 0;
    font-size: 1rem;
}

.casequestion li
{
	margin: 0 0 0.875rem 0;
	padding: 0;
	border: 0;
}

.casequestion .answerchoices li
{
	margin: 0 0 0.875rem 0;
	padding: 0;
	border: 0;
	list-style:none;
}

.case-feedback .well
{
    background-color: #fff;
}

/* part3-introduction */

.part3-introduction {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0rem;
}

.part3-introduction div {
    padding: 0;
}

.part3-introduction h3 {
    color: #fff;
    border: 4px solid #fff;
    box-shadow: 2px 2px 5px #ccc;
    width: 100%;
    padding: 0.5rem 0.5rem 1.5rem 0.5rem;
    border-radius: 0.625rem;
    font-size: 1rem;
    line-height: 100%;
    font-weight: bold;
}

.part3-introduction ul {
    background-color: #fff;
    border: 3px solid #ccc;
    border-radius: 0.625rem;
    margin: -2rem 1rem 0 1rem;
    padding: 0.75rem 0.75rem 0.75rem 1.625rem;
    height: auto;
    font-size: 0.875rem;
}

.part3-introduction .direction-arrow {
    text-align: right;
}

.part3-introduction .direction-arrow img {
    margin-left: 0;
    margin-top: -1.625rem;
}

.part3-introduction #col-1 h3 {
    background-color: #aac76d;
}

.part3-introduction #col-2 h3 {
    background-color: #f3a75b;
}

.part3-introduction #col-3 h3 {
    background-color: #6992c8;
}

.part3-introduction #col-1 ul {
    border: 3px solid #aac76d;
}

.part3-introduction #col-2 ul {
    border: 3px solid #f3a75b;
}

.part3-introduction #col-3 ul {
    border: 3px solid #6992c8;
}

/* Margin notes examples */

.table-div {
    margin: 0;
}

.table-div div
{
    border: 1px solid #ccc;
}

.table-div h4
{
    margin: 0;
    font-size: 1rem;
    font-weight: normal;
    border: 1px solid #ccc;
    background-color: #fff1e1;
}

.table-div dt,
.table-div dd
{
    padding: 0;
    border-bottom: 0;
}

.table-div dd {
    margin-bottom: 1rem;
}

.table-div h3 {
    margin: 0 -15px;
    padding: 0.5rem 0.9rem;
    background-color: #fcdab8;
    font-size: 1rem;
    font-weight: bold;
}

.table-div p {
    margin: 0.625rem 0;
}

.transcript-excerpt p {
    font-family: "courier new", courier, serif;
}



.atlasti .casesanswerdisplay.question_response {
    display: none;
}

/* AtlasTI Coding Exercise */

.atlasti table.table-matching,
.atlasti table#header-table {
    margin: 14px 0;
    padding: 0;
    border: 1px solid #ccc;
    border-collapse: collapse;
    font-size: 100%;
    width: 100%;
}

.atlasti table.table-matching td,
.atlasti table#header-table td {
    border: 1px solid #999;
    border-collapse: collapse;
    padding: 5px;
    vertical-align: middle;
}

.atlasti table#header-table td.code-label {
    font-weight: bold;
}

.atlasti table#header-table td.code-label h5 {
    margin: 0;
    padding: 0;
}

.atlasti td.your-answer, td.our-answer {
    width: 80px;
    text-align: center;
}

.atlasti table.table-matching td.td-ui,
.atlasti table#header-table td.td-ui {
    width: 40px;
    text-align: center;
}

.atlasti table td.your-answer,
.atlasti table td.our-answer {
    display: none;
}

/* Page navigation----------------------------------- */

.pagenav-item {
    border: 1px solid #ccc;
    border-radius: 1.5rem;
    white-space: nowrap;
    font-size: 0.75rem;
}

.pagenav-item:hover {
    background-color: #e4f1fd;
}

/* Footer ------------------------------------------- */

footer p {
    font-size: 0.75rem;
    font-weight: bold;
    width: 100%;
}


/* Material design experiment */

@keyframes ripple {
  0% {
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0);
  }
  50% {
    box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0.1);
  }
  100% {
    box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0);
  }
}
.md-radio {
  position: relative;
}
.md-radio.md-radio-inline {
  display: inline-block;
}
.md-radio input[type="radio"] {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.md-radio input[type="radio"]:checked + label:before {
  margin-top: 0.1rem;
  border-color: #337ab7;
  animation: ripple 0.2s linear forwards;
}
.md-radio input[type="radio"]:checked + label:after {
  transform: scale(1);
}
.md-radio label {
  display: block;
  min-height: 20px;
  position: relative;
  padding: 0 30px;
  margin-bottom: 0;
  cursor: pointer;
  vertical-align: bottom;
}
.md-radio label:before, .md-radio label:after {
  margin-top: 0.1rem;
  position: absolute;
  content: '';
  border-radius: 50%;
  transition: all .3s ease;
  transition-property: transform, border-color;
}
.md-radio label:before {
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid rgba(0, 0, 0, 0.54);
}
.md-radio label:after {
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  transform: scale(0);
  background: #337ab7;
}
.md-radio input[type="radio"]:focus + label:before {
  border: 2px solid rgba(51, 122, 183, 1) !important;
  box-shadow: 0 0 5px 2px rgba(81, 203, 238, 1) !important;
}
.md-radio input[type="radio"]:focus + label:after {
  border: 2px solid rgba(51, 122, 183, 1) !important;
  box-shadow: 0 0 5px 2px rgba(81, 203, 238, 1) !important;
}




/* Responsive ---------------------------------------- */

/* 
Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap
 */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up ) */
@media (min-width: 768px) {
    header .title {
        height: 6.25rem;
        line-height: 6.25rem;
        font-size: 1.5rem;
    }
    .module-name {
        font-size: 1.25rem;
    }
    .nav-module .navbar-toggler {
        font-size: 1.25rem;
    }
    main h1 {
        font-weight: normal;
        font-size: 2rem;
    }
    main h2 {
        font-size: 1.5rem;
    }
    footer p {
        width: 75%;
    }
    /* part3-introduction */
    .part3-introduction {
        margin-bottom: 0;
    }
    .part3-introduction h3 {
        width: 75%;
        padding: 0.75rem 0.75rem 1.625rem 0.75rem;
        font-size: 1.25rem;
    }
    .part3-introduction ul {
        margin: -2rem 0 0 0.75rem;
        height: 90%;
    }
    .part3-introduction .direction-arrow {
        text-align: left;
    }
    .part3-introduction .direction-arrow img {
        margin-left: -1.25rem;
        margin-top: 0;
    }
    .table-div dt,
    .table-div dd
    {
        padding: 0.5rem 15px;
        border-bottom: 1px solid #ccc;
    }
    .table-div dd {
        margin-bottom: 0;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    header .title {
        font-size: 2.25rem;
    }
    .module-name {
        font-size: 1.5rem;
    }
    .nav-module {
        border-right: 1px solid #ccc;
        border-bottom: 0;
    }
    .nav-module .nav-link {
        display: block;
    }
    main h1 {
        font-weight: normal;
        font-size: 2.5rem;
    }
    main h2 {
        font-size: 1.75rem;
    }
    footer p {
        width: 50%;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    /* part3-introduction */
    .part3-introduction {
        margin-left: 1rem;
        margin-bottom: 5rem;
    }
    .part3-introduction h3 {
        width: 70%;
        padding: 1rem 1rem 1.75rem 1rem;
        font-size: 1.5rem;
    }
    .part3-introduction ul {
        margin: -2rem 0.625rem 0 1rem;
        font-size: 1rem;
    }
    .part3-introduction .direction-arrow img {
        margin-left: -1.5rem;
        margin-top: 0;
    }
}

@media print {
    .print-alert {
        font-weight: bold;
        color: #000 !important;
    }
    .moretoggle {
        display: none !important;
    }
    .toggleable, .answer-container {
        display: block !important;
    }
    .md-radio input[type="radio"]:checked + label:after {
      border: 2px solid rgba(51, 122, 183, 1) !important;
    }
    .part3-introduction #col-1 h3 {
        border: 5px solid #aac76d;
        color: #aac76d;
    }
    .part3-introduction #col-2 h3 {
        border: 5px solid #f3a75b;
        color: #f3a75b;
    }
    .part3-introduction #col-3 h3 {
        border: 5px solid #6992c8;
        color: #6992c8;
    }
}
