{{ partial "header.html" . }}

    <div class="container bg-white pt-0 pt-lg-4">
        <div class="row d-flex">
            <main class="col-lg-9 pt-3 pt-lg-0 px-lg-4 order-1">
            <h1 class="mb-4" id="maincontent">{{ .Title }}</h1>
            
            {{ .Content }}
            
            {{ partial "pagenav.html" . }}
            </main>
            <div class="col-lg-3 p-0 nav-module order-0">
            {{ partial "sidenav.html" .}}
            </div>
        </div>
    </div>

{{ partial "footer.html" . }}