    <div class="container bg-white pt-0 pt-lg-4">
            <main class="pt-3 pt-lg-0 pb-1 mx-md-4">
                <h1 class="mb-4" id="maincontent">PHTC Module Dashboard</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed feugiat nulla erat, non pharetra ligula volutpat vel. Duis ac venenatis ante. Suspendisse sagittis ligula quam. Maecenas consectetur, arcu rutrum vulputate bibendum, velit turpis facilisis nibh, et porttitor arcu mauris sit amet mauris.</p>
                <p>Pellentesque nunc ligula, faucibus ac tincidunt molestie, tristique vitae lectus. Curabitur et enim sit amet felis egestas imperdiet in et ex. Curabitur venenatis at ligula eu suscipit. Vestibulum malesuada sapien sapien. Sed pharetra sollicitudin neque, quis ultrices libero porta et.</p>

                <ul>
                    <li><a href="/atlasti/">An Introduction to Qualitative Analysis with ATLAS.ti</a></li>
                    <li><a href="/programevaluation/">Advanced Program Evaluation</a></li>
                    <li><a href="/focusgroups/">Facilitating Focus Groups</a></li>
                    <li>Introduction to Mixed Methods Research</li>
                    <li>Introduction to Qualitative Research</li>
                    <li>Building Logic Models</li>
                </ul>
            </main>
    </div>
