    <div class="container bg-white pt-0 pt-lg-4">
            <main class="pt-3 pt-lg-0 pb-1 mx-md-5">
                <h1 class="mb-4" id="maincontent">Region 2 Public Health Training Center Training Modules</h1>
                <p>These training modules were originally developed by the New York City-Long Island-Lower Tri County Public Health Training Center between 2012 and 2014. The most recent version was updated by the <a href="https://region2phtc.org">Region 2 Public Health Training Center</a> in 2018 to improve accessibility and content for participants. Visit the <a href="https://bhw.hrsa.gov/grants/publichealth/regionalcenters">Regional Public Health Training Centers</a> for more information on their programs.

                <ul>
                    <li><a href="https://region2phtc.org/portfolio/introduction-to-qualitative-analysis-with-atlas-ti/">An Introduction to Qualitative Analysis with ATLAS.ti</a></li>
                    <li><a href="https://region2phtc.org/portfolio/advanced-program-evaluation/">Advanced Program Evaluation</a></li>
                    <li><a href="https://region2phtc.org/portfolio/facilitating-focus-groups/">Facilitating Focus Groups</a></li>
                    <li><a href="https://region2phtc.org/portfolio/introduction-to-mixed-methods/">Introduction to Mixed Methods Research</a></li>
                    <li><a href="https://region2phtc.org/portfolio/introduction-to-qualitative-research/">Introduction to Qualitative Research</a></li>
                    <li><a href="https://region2phtc.org/portfolio/building-logic-models/">Building Logic Models</a></li>
                </ul>
            </main>
    </div>
