    <footer class="container p-0 pt-5 pb-3 my-0 bg-white text-center">
        <ul class="nav d-flex justify-content-center d-print-none">
            <li class="nav-item">
            <a class="nav-link" href="/info/about/">About</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/info/support/">Help</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/info/support/">Contact</a>
            </li>
        </ul>

        <hr class="d-none d-print-block" />

        <p class="m-auto">
        Principal support for the PHTC is provided through a grant from the Health Resources and Services Administration, U.S. Department of Health and Human Services.
        </p>

        <p class="m-auto pt-4 d-none d-print-block">
        Printed from: {{ if .IsHome }}{{ .Site.BaseURL }}{{ else }}{{ .Permalink }}{{ end }}
        </p>

        <!-- Responsive indicator, to be removed before completion -->
        <div class="text-center text-danger py-2">
        <div class="d-none d-xl-inline bg-warning p-1">XL</div>
        <div class="d-none d-lg-inline d-xl-none bg-warning p-1">LG</div>
        <div class="d-none d-md-inline d-lg-none bg-warning p-1">MD</div>
        <div class="d-none d-sm-inline d-md-none bg-warning p-1">SM</div>
        <div class="d-inline d-sm-none bg-warning p-1">XS</div>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- Google Analytics -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{ .Site.BaseURL }}js/lib/jquery-3.3.1.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="{{ .Site.BaseURL }}js/lib/bootstrap/v4/bootstrap.min.js"></script>
    <script src="{{ .Site.BaseURL }}js/src/quiz.js"></script>
    <script src="{{ .Site.BaseURL }}js/src/imagemap.js"></script>
    <script src="{{ .Site.BaseURL }}js/src/design-notation.js"></script>

    {{ if eq .Params.module "Building Logic Models" }}
        {{ if eq .Params.title "Activity" }}
            {{ partial "logicmodel.html" . }}
        {{ end }}
    {{ end }}
    {{ if eq .Params.module "Introduction to Mixed Methods Research" }}
        {{ if eq .Params.title "Choose Your Own Design" }}
            {{ partial "flowchart.html" . }}
        {{ end }}
    {{ end }}
</body>
</html>
