
<script type="text/javascript">
    const LogicModel = {
        baseUrl: "{{ .Site.BaseURL }}"
    };
</script>

<script type="text/template" id="logic-model-box">
    <div class="cell">
        <div class="box_droppable">
            <div class="box_draggable">
                <div class="switch_color" title="Switch color"><img src="{{ .Site.BaseURL }}img/assets/icon-color.png" /></div>
                <textarea value ="<%=contents%>" class="text_box" maxlength="256"></textarea>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="logic-model-column">
    <span class ="column_span <%=css_classes %>">
        <div class="colhead clearfix">
            <div class="column_name">
                <%=name %>
            </div>
            <div class="column_help_button_span">
                <img class="column_help_button" title="More about '<%=name %>'" src="{{ .Site.BaseURL }}img/assets/icon-info.png" />
            </div>
        </div>
        <span class="boxes"></span>
        <div class="btn-logicmodel btn-info add_a_row_button">
            <i class="icon-plus icon-white" title="Add a row"></i> 
        </div>
        <button class="btn-logicmodel done-button">
            I am done!
        </button>
        <div class="divclearfix"></div>
    </span>
</script>

<script type="text/template" id="logic-model-help-box">
    <div class="modal-header help-header">
        <button class="close">×</button>
        <h3><%=help_title%> column</h3>
    </div>
    <div class="modal-body">
        <div>
        <%=help_meaning%>
        <%=help_body%>
        </div>
    </div>
    <div class="modal-footer">
        <div class="btn btn-logicmodel btn-success">Close</div>
    </div>
</script>

<script type="text/template" id="logic-model-scenario">
<div class="well" id="scenario_container">
    <h3 class ="scenario_title"><%=title%></h3>
    <div class ="instructions_for_scenario"><%=instructions%></div>
    <div class="btn-logicmodel btn-primary try_this_scenario">Try this scenario</div>
</div>
</script>

<script src="{{ .Site.BaseURL }}js/lib/underscore/underscore-min.js"></script>
<script src="{{ .Site.BaseURL }}js/lib/backbone/backbone-min.js"></script>
<script src="{{ .Site.BaseURL }}js/src/logicmodel/logicmodel.js"></script>
<script src="{{ .Site.BaseURL }}js/src/logicmodel/box.js"></script>
<script src="{{ .Site.BaseURL }}js/src/logicmodel/column.js"></script>
<script src="{{ .Site.BaseURL }}js/src/logicmodel/scenario.js"></script>
