<link rel="canonical" href="{{ if .IsHome }}{{ .Site.BaseURL }}{{ else }}{{ .Permalink }}{{ end }}" />

<!-- Standard Meta Data -->
<meta name="description" content="{{ .Site.Params.description }}" />
<meta name="keywords" content="{{ .Site.Params.keywords }}" />
<meta name="author" content="{{ .Site.Params.author }}" />
<meta name="copyright" content="{{ .Site.Copyright }}">

<!-- Dublin Core Metadata -->
<meta name="DC.Title" content="{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }}—{{ .Site.Params.shortTitle }}{{ end }}" />
<meta name="DC.Description" content="{{ .Site.Params.description }}" />
<meta name="DC.Rights" content="{{ .Site.Copyright }}">

<!-- Open Graph -->
<meta property="og:title" content="{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }}—{{ .Site.Params.shortTitle }}{{ end }}" />
<meta property="og:site_name" content="{{ .Site.Params.author }}" />
<meta property="og:type" content="website" />
<meta property="og:image" content="{{ .Site.BaseURL }}img/phtc-og.png" />
<meta property="og:description" content="{{ .Site.Params.description }}" />
<meta property="og:url" content="{{ if .IsHome }}{{ .Site.BaseURL }}{{ else }}{{ .Permalink }}{{ end }}" />

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }}—{{ .Site.Params.shortTitle }}{{ end }}" />
<meta name="twitter:description" content="{{ .Site.Params.description }}" />
<meta name="twitter:image" content="{{ .Site.BaseURL }}img/phtc-og.png" />
<meta name="twitter:image:alt" content="{{ .Site.Params.author }}" />
<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "WebSite",
    "url": "{{ .Site.BaseURL }}",
    "name": "{{ .Site.Title }}",
    "about": "{{ .Site.Params.description }}",
    "keywords": "{{ .Site.Params.keywords }}"
}
</script>